* {
  font-family: 'Exo', sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 300;
  font-style: normal !important;
  font-size: 15px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}
